#footer-container .footer-desktop{
    display: block;
}

#footer-container .footer-mobile{
    display: none;
  }

@media only screen and (max-width: 768px) and (orientation: portrait){
    /*Footer for mobile phones: */
    #footer-container .footer-mobile{
      display: flex;
      height: 100%;
    }

    #footer-container .footer-desktop{
        display: none;
    }

    .footer-mobile .footer-item{
        flex-basis: 0;
        flex-grow: 1;
    }

    .footer-mobile div.footer-item  {
        /* To correctly align image, regardless of content height: */
        vertical-align: top;
        display: inline-block;
        /* To horizontally center images and caption */
        text-align: center;
        /* The width of the container also implies margin around the images. */
        /* width: 120px; */
        padding-top: 5px;
        scroll-padding-bottom: 5px;
    }
    .footer-mobile .footer-item img {
        width: 30px;
        height: 30px;
        background-color: grey;
    }
    .footer-mobile span.caption {
        /* Make the caption a block so it occupies its own line. */
        display: block;
    }
    

}